.LoginSignupPageContainer{
    width: 300px;
    background-color:rgb(114, 172, 223);
    border-width: 5px;
    border-style:groove;
    /*align-content: center;*/
    /*display:flex;*/
    justify-items:center;
}
.loginLogo{
    margin-top: 20px;
    width: 20px;
    height: 40px;
    object-fit:contain;
}
.SignupLogo{
    margin-top: 20px;
    width: 20px;
    height: 40px;
    object-fit:contain;
}
.emailinput{
    width:30;
}
firmpasswordinput{
    width:30;
}
.loginbutton{
    width:70px;
    height:35px;
    margin-left: 35%;
}
.signupbutton{
    width:70px;
    height:35px;
    margin-left: 35%;
}
    
